@model PickupGames.Models.GameCreateModel

<label style="font-weight:bold; cursor:pointer;margin-bottom:1em">Create Game</label>
<div id="creategame" class="title">
    @using (Ajax.BeginForm("Create", "Games", FormMethod.Post, new AjaxOptions { OnSuccess = "createGameSuccess(data, status, xhr)" }, new { id = "creategameform" }))
    {
        <div class="modal-body">
            @Html.ValidationSummary(false)

            @Html.LabelFor(m => m.Name)
            @Html.TextBoxFor(m => m.Name)

            @Html.LabelFor(m => m.Sport)
            @Html.TextBoxFor(m => m.Sport)

            @Html.LabelFor(m => m.GameDate)
            @Html.EditorFor(m => m.GameDate, "Date")
            
            @Html.LabelFor(m => m.GameTime)
            @Html.EditorFor(m => m.GameTime, "Time")
                    
            @Html.LabelFor(m => m.Location)
            @Html.TextBoxFor(m => m.Location, new { style = "width:30em;", placeholder= "Rucker Park, New York, Paris..." })
            
            @Html.LabelFor(m => m.RecurringDay)
            @Html.TextBoxFor(m => m.RecurringDay)
            
            @Html.LabelFor(m => m.Duration)
            @Html.TextBoxFor(m => m.Duration)
            
            @Html.LabelFor(m => m.Status)
            @Html.TextBoxFor(m => m.Status)
            
            @Html.LabelFor(m => m.AgeGroup)
            @Html.TextBoxFor(m => m.AgeGroup)
            
             @Html.LabelFor(m => m.Notes)
            @Html.TextBoxFor(m => m.Notes)
        </div>
        <div>
            <input type="submit" class="btn btn-large btn-primary" value="Create"/>
        </div>
    }
</div>

<script type="text/javascript">
    function toggleCreateGameDisplay() {
        $('#creategame').toggle(500);
    };       
</script>