<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Pickup Games</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")       
</head>
<body data-ng-app="main" data-ng-controller="RootController">
    <div id="navigationbar" class="navbar navbar-inverse navbar-static-top navbar">
        <div class="row">
            <div class="col-xs-2">
                <a id="homelink" class ="navbar-brand" href='#/home'>qPiGa</a>
            </div>
            <div id="nav-search" class="col-xs-4">
            </div>
            <div class="col-xs-6">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>
                <div class="navbar-collapse collapse">
                    @Html.Partial("_LoginPartial")
                </div>
            </div>
        </div>
    </div>
    <div id="container">
        @RenderBody()        
    </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/angular")
    @Scripts.Render("~/bundles/google-maps")    
    <script src="~/Scripts/app.js" type="text/javascript"></script>
    <script src="~/Scripts/main.js" type="text/javascript"></script>
    <script src="~/Scripts/angular-controllers.js" type="text/javascript"></script>
    @*@Scripts.Render("~/bundles/angular-google-maps")*@
    @*@Scripts.Render("~/bundles/app")*@
    @RenderSection("scripts", required: false)
</body>
</html>
