<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Pickup Games</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")       
</head>
<body data-ng-app="main" data-ng-controller="RootController">
    <div id="yeahiknowmysiteisflylikerakimsaidcheckthetekniq" class="navbar navbar-inverse navbar-static-top">
        <a id="homelink" class="navbar-brand" href='/gohome'>qPiGa</a>
        @*<div id="nav-search">
            <div id="nav-search-container" class="col-xs-2">
                <form id="searchgamesform" name="searchgamesform" ng-submit="searchgames()" enctype="multipart/form-data" class="form-horizontal" role="form">
                    <input id="Location" name="Location" ng-model="gamesearch.location" type="text" data-lat={{locationLat}} data-lng={{locationLng}} class="form-control" placeholder="Where do you want to play?" />
                </form>
            </div>
        </div>*@
        <div class="container">
            <div class="navbar-header">
                <button id="mobile-navbar-toggle" type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div class="navbar-collapse collapse">
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div id="container">
        @RenderBody()     
        <footer class="text-center">
            developed by roy brown
            <br />
            suggestions + ideas + thoughts >>> qpiga.ballhard@gmail.com
        </footer>   
    </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/angular")
    @Scripts.Render("~/bundles/google-maps")    
    <script src="~/Scripts/app/app.js" type="text/javascript"></script>    
    
    <script src="~/Scripts/app/controllers/root.js" type="text/javascript"></script>
    <script src="~/Scripts/app/controllers/main.js" type="text/javascript"></script>
    <script src="~/Scripts/app/controllers/games.js" type="text/javascript"></script>
    <script src="~/Scripts/app/controllers/creategame.js" type="text/javascript"></script>    
    <script src="~/Scripts/app/services/googleMaps.js" type="text/javascript"></script>

    <script src="~/Scripts/app/services/games.js" type="text/javascript"></script>
    <script src="~/Scripts/app/services/game.js" type="text/javascript"></script>
    
    @*<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ng-dialog/0.3.12/css/ngDialog.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ng-dialog/0.3.12/css/ngDialog-theme-default.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ng-dialog/0.3.12/css/ngDialog-theme-plain.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ng-dialog/0.3.12/js/ngDialog.min.js" type="text/javascript"></script>
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.12.1/ui-bootstrap.min.js" type="text/javascript"></script>

    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.3.0/css/datepicker.min.css" />
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.3.0/css/datepicker3.min.css" />
    <script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.3.0/js/bootstrap-datepicker.min.js"></script>*@

    @*@Scripts.Render(" ~ />bundles/angular-google-maps")*@
    @*@Scripts.Render("~/bundles/app")*@
    @RenderSection("scripts", required: false)
</body>
</html>
