@using PickupGames.Models
@using PickupGames.Domain.Objects
@model PickupGames.Models.GamesModel          

@{
    ViewBag.Title = "Games";
}

@Html.Partial("SearchLocation", Model.GameSearchModel)

<div id="sidebar" style="position: fixed; top: 4em; left: 0; bottom: 0; width: 60%; overflow-y: scroll; overflow-x:hidden; -webkit-overflow-scrolling: touch">
    <div class="col-xs-12">
        <div id="more-filters-toggle" class="row" style="margin-top: 1em; margin-bottom: 1em">
            <div class="col-xs-12">
                <button onclick="javascript:showHideGameSearchFilter();" class="btn btn-default">More Filters</button>
            </div>
        </div>
        @Html.Partial("SearchExtra", Model.GameSearchModel)      
        <div id="show-listings-toggle" class="row" style="margin-top: 1em; margin-bottom: 1em; display:none">
            <div class="col-xs-12">
                <button onclick="javascript:showHideGameSearchFilter();" class="btn btn-default" style="width:100%;position:relative;bottom:0">Show Listings</button>
            </div>
        </div> 
        <div id="search-results" class="row">           
            @*<div itemscope="" itemtype="http://schema.org/Enumeration" class="col-sm-12 col-md-6">
                <div data-lat="42.36975123868141" data-lng="-71.10122396394908" data-name="Harvard•MIT•Private Rm 1•Parking•TV" data-url="/rooms/4232852?checkin=02%2F04%2F2015&amp;checkout=02%2F05%2F2015&amp;s=wlbu" data-user="5608628" data-id="4232852" class="listing" itemscope="" itemtype="http://schema.org/Enumeration">

                    <div class="panel-image listing-img">
                        <a href="/rooms/4232852?checkin=02%2F04%2F2015&amp;checkout=02%2F05%2F2015&amp;s=wlbu" class="media-photo media-cover">
                            <div class="listing-img-container media-cover text-center">
                                <img itemprop="image" data-current="0" src="https://a1.muscache.com/ic/pictures/62915404/357c59c5_original.jpg?interpolation=lanczos-none&amp;size=x_medium&amp;output-format=jpg&amp;output-quality=70" class="img-responsive-height" alt="Harvard•MIT•Private Rm 1•Parking•TV" data-urls="[&quot;https://a1.muscache.com/ic/pictures/62915404/357c59c5_original.jpg?interpolation=lanczos-none&amp;size=x_medium&amp;output-format=jpg&amp;output-quality=70&quot;, &quot;https://a0.muscache.com/ic/pictures/62915419/8fdbe654_original.jpg?interpolation=lanczos-none&amp;size=x_medium&amp;output-format=jpg&amp;output-quality=70&quot;, &quot;https://a0.muscache.com/ic/pictures/62915467/e448cbdc_original.jpg?interpolation=lanczos-none&amp;size=x_medium&amp;output-format=jpg&amp;output-quality=70&quot;, &quot;https://a0.muscache.com/ic/pictures/62915433/a49e4dd8_original.jpg?interpolation=lanczos-none&amp;size=x_medium&amp;output-format=jpg&amp;output-quality=70&quot;, &quot;https://a0.muscache.com/ic/pictures/62915557/67885bc2_original.jpg?interpolation=lanczos-none&amp;size=x_medium&amp;output-format=jpg&amp;output-quality=70&quot;, &quot;https://a1.muscache.com/ic/pictures/62915615/a350ce47_original.jpg?interpolation=lanczos-none&amp;size=x_medium&amp;output-format=jpg&amp;output-quality=70&quot;, &quot;https://a2.muscache.com/ic/pictures/62915453/f4aaf94d_original.jpg?interpolation=lanczos-none&amp;size=x_medium&amp;output-format=jpg&amp;output-quality=70&quot;, &quot;https://a1.muscache.com/ic/pictures/54411326/a63510a2_original.jpg?interpolation=lanczos-none&amp;size=x_medium&amp;output-format=jpg&amp;output-quality=70&quot;, &quot;https://a2.muscache.com/ic/pictures/54411314/7a114f36_original.jpg?interpolation=lanczos-none&amp;size=x_medium&amp;output-format=jpg&amp;output-quality=70&quot;, &quot;https://a1.muscache.com/ic/pictures/54411349/d4b4dfcd_original.jpg?interpolation=lanczos-none&amp;size=x_medium&amp;output-format=jpg&amp;output-quality=70&quot;, &quot;https://a2.muscache.com/ic/pictures/54411364/d3fcafd8_original.jpg?interpolation=lanczos-none&amp;size=x_medium&amp;output-format=jpg&amp;output-quality=70&quot;, &quot;https://a1.muscache.com/ic/pictures/62915506/82b0b637_original.jpg?interpolation=lanczos-none&amp;size=x_medium&amp;output-format=jpg&amp;output-quality=70&quot;, &quot;https://a1.muscache.com/ic/pictures/62915522/3603f878_original.jpg?interpolation=lanczos-none&amp;size=x_medium&amp;output-format=jpg&amp;output-quality=70&quot;, &quot;https://a0.muscache.com/ic/pictures/62915541/f67a1751_original.jpg?interpolation=lanczos-none&amp;size=x_medium&amp;output-format=jpg&amp;output-quality=70&quot;, &quot;https://a0.muscache.com/ic/pictures/62915582/9ac09e7c_original.jpg?interpolation=lanczos-none&amp;size=x_medium&amp;output-format=jpg&amp;output-quality=70&quot;, &quot;https://a1.muscache.com/ic/pictures/62915597/12c47f36_original.jpg?interpolation=lanczos-none&amp;size=x_medium&amp;output-format=jpg&amp;output-quality=70&quot;, &quot;https://a1.muscache.com/ic/pictures/54411292/f31ffed2_original.jpg?interpolation=lanczos-none&amp;size=x_medium&amp;output-format=jpg&amp;output-quality=70&quot;, &quot;https://a1.muscache.com/ic/pictures/62915651/019fcf01_original.jpg?interpolation=lanczos-none&amp;size=x_medium&amp;output-format=jpg&amp;output-quality=70&quot;, &quot;https://a2.muscache.com/ic/pictures/62915633/dc53ee4c_original.jpg?interpolation=lanczos-none&amp;size=x_medium&amp;output-format=jpg&amp;output-quality=70&quot;, &quot;https://a2.muscache.com/ic/pictures/62915690/cf6eff91_original.jpg?interpolation=lanczos-none&amp;size=x_medium&amp;output-format=jpg&amp;output-quality=70&quot;, &quot;https://a1.muscache.com/ic/pictures/62915666/568c7af9_original.jpg?interpolation=lanczos-none&amp;size=x_medium&amp;output-format=jpg&amp;output-quality=70&quot;, &quot;https://a0.muscache.com/ic/pictures/62915678/4c6ae204_original.jpg?interpolation=lanczos-none&amp;size=x_medium&amp;output-format=jpg&amp;output-quality=70&quot;, &quot;https://a1.muscache.com/ic/pictures/62915714/b73da354_original.jpg?interpolation=lanczos-none&amp;size=x_medium&amp;output-format=jpg&amp;output-quality=70&quot;, &quot;https://a0.muscache.com/ic/pictures/54508894/b71df72c_original.jpg?interpolation=lanczos-none&amp;size=x_medium&amp;output-format=jpg&amp;output-quality=70&quot;]">
                            </div>
                        </a>

                        <div class="target-prev target-control block-link">
                            <i class="icon icon-chevron-left icon-size-2 icon-white"></i>
                        </div>

                        <div class="panel-overlay-bottom-left panel-overlay-label panel-overlay-listing-label">
                            <div>
                                <sup class="h6 text-contrast">$</sup>
                                <span class="h3 price-amount">90</span>
                                <sup class="h6 text-contrast"></sup>
                                <span class="h3 icon-yellow icon-beach" data-behavior="tooltip" aria-label="Book Instantly">
                                    <i class="icon icon-instant-book icon-flush-sides"></i>
                                </span>
                            </div>

                        </div>

                        <div class="target-next target-control block-link">
                            <i class="icon icon-chevron-right icon-size-2 icon-white"></i>
                        </div>

                        <div class="panel-overlay-top-right wl-social-connection-panel">
                            <span class="rich-toggle wish_list_button wishlist-button not_saved" data-img="https://a1.muscache.com/ic/pictures/62915404/357c59c5_original.jpg?interpolation=lanczos-none&amp;size=x_medium&amp;output-format=jpg&amp;output-quality=70" data-name="Harvard•MIT•Private Rm 1•Parking•TV" data-address="Cambridge" data-hosting_id="4232852">
                                <input type="checkbox" id="wishlist-widget-4232852" name="wishlist-widget-4232852" data-for-hosting="4232852">
                                <label for="wishlist-widget-4232852" class="hide-sm">
                                    <i class="icon icon-heart icon-pink icon-rausch icon-size-2 rich-toggle-checked"></i>
                                    <i class="icon icon-heart wishlist-heart-unchecked icon-size-2 rich-toggle-unchecked"></i>
                                    <i class="icon icon-heart-alt icon-white icon-size-2"></i>
                                </label>
                            </span>


                        </div>

                    </div>

                    <div class="panel-body panel-card-section">
                        <div class="media">
                            <a href="/users/show/5608628" class="pull-right media-photo media-round card-profile-picture card-profile-picture-offset">
                                <img src="https://a2.muscache.com/ic/users/5608628/profile_pic/1412685562/original.jpg?interpolation=lanczos-none&amp;crop=w:w;*,*&amp;crop=h:h;*,*&amp;resize=68:*&amp;output-format=jpg&amp;output-quality=70" alt="">
                            </a>
                            <a href="/rooms/4232852?checkin=02%2F04%2F2015&amp;checkout=02%2F05%2F2015&amp;s=wlbu" class="text-normal">
                                <div title="Harvard•MIT•Private Rm 1•Parking•TV" class="h5 listing-name text-truncate row-space-top-1">
                                    Harvard•MIT•Private Rm 1•Parking•TV
                                </div>
                            </a>
                            <div class="text-muted listing-location text-truncate">
                                <a href="/rooms/4232852?checkin=02%2F04%2F2015&amp;checkout=02%2F05%2F2015&amp;s=wlbu" class="text-normal link-reset">
                                    Private room · 31 reviews · Cambridge
                                </a>
                            </div>
                        </div>

                    </div>
                </div>
            </div>*@
            
            @*<div itemscope="" itemtype="http://schema.org/Enumeration" class="col-sm-12 col-md-6 row-space-2">
                <div data-lat="42.366233431180675" data-lng="-71.10195974347278" data-name="(2A) Perfect room by Harvard/MIT" data-url="/rooms/4608655?checkin=02%2F04%2F2015&amp;checkout=02%2F05%2F2015&amp;s=wlbu" data-user="23880410" data-id="4608655" class="listing" itemscope="" itemtype="http://schema.org/Enumeration">

                    <div class="panel-image listing-img">
                        <a href="/rooms/4608655?checkin=02%2F04%2F2015&amp;checkout=02%2F05%2F2015&amp;s=wlbu" class="media-photo media-cover">
                            <div class="listing-img-container media-cover text-center">
                                <img itemprop="image" data-current="0" src="https://a1.muscache.com/ic/pictures/57870747/20c60a98_original.jpg?interpolation=lanczos-none&amp;size=x_medium&amp;output-format=jpg&amp;output-quality=70" class="img-responsive-height" alt="(2A) Perfect room by Harvard/MIT" data-urls="[&quot;https://a1.muscache.com/ic/pictures/57870747/20c60a98_original.jpg?interpolation=lanczos-none&amp;size=x_medium&amp;output-format=jpg&amp;output-quality=70&quot;, &quot;https://a2.muscache.com/ic/pictures/57870938/8df7cc9c_original.jpg?interpolation=lanczos-none&amp;size=x_medium&amp;output-format=jpg&amp;output-quality=70&quot;, &quot;https://a2.muscache.com/ic/pictures/57870683/9b9d93de_original.jpg?interpolation=lanczos-none&amp;size=x_medium&amp;output-format=jpg&amp;output-quality=70&quot;, &quot;https://a2.muscache.com/ic/pictures/57870700/17b8796c_original.jpg?interpolation=lanczos-none&amp;size=x_medium&amp;output-format=jpg&amp;output-quality=70&quot;, &quot;https://a1.muscache.com/ic/pictures/57870729/8870fde3_original.jpg?interpolation=lanczos-none&amp;size=x_medium&amp;output-format=jpg&amp;output-quality=70&quot;, &quot;https://a0.muscache.com/ic/pictures/57870620/27eeb58c_original.jpg?interpolation=lanczos-none&amp;size=x_medium&amp;output-format=jpg&amp;output-quality=70&quot;, &quot;https://a0.muscache.com/ic/pictures/57870612/bcba2f2c_original.jpg?interpolation=lanczos-none&amp;size=x_medium&amp;output-format=jpg&amp;output-quality=70&quot;, &quot;https://a0.muscache.com/ic/pictures/57870631/21d94c8a_original.jpg?interpolation=lanczos-none&amp;size=x_medium&amp;output-format=jpg&amp;output-quality=70&quot;]">
                            </div>
                        </a>

                        <div class="target-prev target-control block-link">
                            <i class="icon icon-chevron-left icon-size-2 icon-white"></i>
                        </div>

                        <div class="panel-overlay-bottom-left panel-overlay-label panel-overlay-listing-label">
                            <div>
                                <sup class="h6 text-contrast">$</sup>
                                <span class="h3 price-amount">80</span>
                                <sup class="h6 text-contrast"></sup>
                                <span class="h3 icon-yellow icon-beach" data-behavior="tooltip" aria-label="Book Instantly">
                                    <i class="icon icon-instant-book icon-flush-sides"></i>
                                </span>
                            </div>

                        </div>

                        <div class="target-next target-control block-link">
                            <i class="icon icon-chevron-right icon-size-2 icon-white"></i>
                        </div>

                        <div class="panel-overlay-top-right wl-social-connection-panel">
                            <span class="rich-toggle wish_list_button wishlist-button not_saved" data-img="https://a1.muscache.com/ic/pictures/57870747/20c60a98_original.jpg?interpolation=lanczos-none&amp;size=x_medium&amp;output-format=jpg&amp;output-quality=70" data-name="(2A) Perfect room by Harvard/MIT" data-address="Cambridge" data-hosting_id="4608655">
                                <input type="checkbox" id="wishlist-widget-4608655" name="wishlist-widget-4608655" data-for-hosting="4608655">
                                <label for="wishlist-widget-4608655" class="hide-sm">
                                    <i class="icon icon-heart icon-pink icon-rausch icon-size-2 rich-toggle-checked"></i>
                                    <i class="icon icon-heart wishlist-heart-unchecked icon-size-2 rich-toggle-unchecked"></i>
                                    <i class="icon icon-heart-alt icon-white icon-size-2"></i>
                                </label>
                            </span>


                        </div>

                    </div>

                    <div class="panel-body panel-card-section">
                        <div class="media">
                            <a href="/users/show/23880410" class="pull-right media-photo media-round card-profile-picture card-profile-picture-offset">
                                <img src="https://a0.muscache.com/ic/users/23880410/profile_pic/1421302748/original.jpg?interpolation=lanczos-none&amp;crop=w:w;*,*&amp;crop=h:h;*,*&amp;resize=68:*&amp;output-format=jpg&amp;output-quality=70" alt="">
                            </a>
                            <a href="/rooms/4608655?checkin=02%2F04%2F2015&amp;checkout=02%2F05%2F2015&amp;s=wlbu" class="text-normal">
                                <div title="(2A) Perfect room by Harvard/MIT" class="h5 listing-name text-truncate row-space-top-1">
                                    (2A) Perfect room by Harvard/MIT
                                </div>
                            </a>
                            <div class="text-muted listing-location text-truncate">
                                <a href="/rooms/4608655?checkin=02%2F04%2F2015&amp;checkout=02%2F05%2F2015&amp;s=wlbu" class="text-normal link-reset">
                                    Private room · 14 reviews · Cambridge
                                </a>
                            </div>
                        </div>

                    </div>
                </div>
            </div>*@

            @foreach (var game in Model.GameListModel)
            {
                <div class="col-md-6">
                    <div>
                        @game.Name
                    </div>
                    <div>
                        @game.Sport
                    </div>
                    <div>
                        @game.GameDate
                    </div>
                    <div>
                        @game.GameTime
                    </div>
                    <div class="location" data-lat="@game.LocationLat" data-lng="@game.LocationLng">
                        @game.Location
                    </div>
                    <div>
                        @game.PlayerCount
                    <span>players joined</span>
                    </div>
                    <div>
                        @game.DistanceToCenterLocation
                    </div>
                    <div>
                        @game.Duration
                    </div>
                    <div>
                        @game.Status
                    </div>
                    <div>
                        @game.AgeGroup
                    </div>
                    <div>
                        @game.Notes
                    </div>
                    <div>
                        @game.Views
                    </div>
                    <button onclick="javascript:joinGame('@game.Id');">Join</button>
                    <button onclick="javascript:watchGame('@game.Id');">Watch</button>
                    <button>Edit</button>
                    <button onclick="javascript:deleteGame('@game.Id');">Delete</button>
                </div>
            }
        </div>
    </div>
</div>


<div id="map" style="display: block; width: 40%;position: fixed;top: 4em;right: 0;left: auto;bottom: 0">
    <div id="map-canvas" style="position: relative;overflow: hidden;-webkit-transform: translateZ(0px);background-color: rgb(229, 227, 223);height: 100%;">                
    </div>    
</div>

@*<div id="mobile-footer" class="navbar navbar-default navbar-fixed-bottom">    
    <div class="navbar-header">
    </div>      
    <div>
        <ul class="nav navbar-nav navbar-left">
            <li class="dropdown" style="width:50%;float:left">
                <ul class="dropdown-menu" role="menu">
                    <li><a href="#">Test</a></li>
                    <li><a href="#">Test2</a></li>
                </ul>
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">List</a>
            </li>
            <li class="dropdown" style="display:none">
                <ul class="dropdown-menu" role="menu">
                    <li><a href="#">Test</a></li>
                    <li><a href="#">Test2</a></li>
                </ul>
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Filters</a>
            </li>
        </ul>
    </div>        
</div>*@

<script id="gamesTemplate" type="text/html">
    {{#games}}
    @*<div data-id={{Id}} class="row">*@
        <div class="col-md-6">
            <div>
                {{Name}}
            </div>
            <div>
                {{Sport}}
            </div>
            <div>
                {{GameDate}}
            </div>
            <div>
                {{GameTime}}
            </div>
            <div class="location" data-lat={{LocationLat}} data-lng={{LocationLng}}>
                {{Location}}
            </div>
            <div>
                {{PlayerCount}}
                <span>players joined</span>
            </div>
            <div>
                {{DistanceToCenterLocation}}
            </div>
            <div>
                {{Duration}}
            </div>
            <div>
                {{Status}}
            </div>
            <div>
                {{AgeGroup}}
            </div>
            <div>
                {{Notes}}
            </div>
            <div>
                {{Views}}
            </div>
            <button onclick="javascript:joinGame('{{Id}}');">Join</button>
            <button onclick="javascript:watchGame('{{Id}}');">Watch</button>
            <button>Edit</button>
            <button onclick="javascript:deleteGame('{{Id}}');">Delete</button>
        </div>
    @*</div>*@
    {{/games}}
</script>