@using PickupGames.Models
@using PickupGames.Domain.Objects
@model PickupGames.Models.GamesModel          

@{
    ViewBag.Title = "Games";
}

@Html.Partial("SearchLocation", Model.GameSearchModel)

<div id="sidebar" style="display: none; position: fixed; top: 4em; left: 0; bottom: 0; width: 60%; overflow-y: scroll; overflow-x:hidden; -webkit-overflow-scrolling: touch">
    <div class="col-xs-12">
        <div id="more-filters-toggle" class="row" style="margin-top: 1em; margin-bottom: 1em">
            <div class="col-xs-12">
                <button onclick="javascript:showHideGameSearchFilter();" class="btn btn-default">More Filters</button>
            </div>
        </div>
        @Html.Partial("SearchExtra", Model.GameSearchModel)      
        <div id="show-listings-toggle" class="row" style="margin-top: 1em; margin-bottom: 1em; display:none">
            <div class="col-xs-12">
                <button onclick="javascript:showHideGameSearchFilter();" class="btn btn-default" style="width:100%;position:relative;bottom:0">Show Listings</button>
            </div>
        </div> 
        <div id="search-results" class="row">           
            @foreach (var game in Model.GameListModel)
            {
                <div class="col-md-6">
                    <div>
                        @game.Name
                    </div>
                    <div>
                        @game.Sport
                    </div>
                    <div>
                        @game.GameDate
                    </div>
                    <div>
                        @game.GameTime
                    </div>
                    <div class="location" data-lat="@game.LocationLat" data-lng="@game.LocationLng">
                        @game.Location
                    </div>
                    <div>
                        @game.PlayerCount
                    <span>players joined</span>
                    </div>
                    <div>
                        @game.DistanceToCenterLocation
                    </div>
                    <div>
                        @game.Duration
                    </div>
                    <div>
                        @game.Status
                    </div>
                    <div>
                        @game.AgeGroup
                    </div>
                    <div>
                        @game.Notes
                    </div>
                    <div>
                        @game.Views
                    </div>
                    <button onclick="javascript:joinGame('@game.Id');">Join</button>
                    <button onclick="javascript:watchGame('@game.Id');">Watch</button>
                    <button>Edit</button>
                    <button onclick="javascript:deleteGame('@game.Id');">Delete</button>
                </div>
            }
        </div>
    </div>
</div>

<div id="map" style="display: block; width: 100%;position: fixed;top: 4em;right: 0;left: auto;bottom: 0">
    <div id="map-canvas" style="position: relative;overflow: hidden;-webkit-transform: translateZ(0px);background-color: rgb(229, 227, 223);height: 100%;">
    </div>
</div>

<div id="mobile-footer" class="navbar navbar-default navbar-fixed-bottom" style="display:none;">
    <div>
        <ul class="nav navbar-nav navbar-left">
            <li class="dropdown" style="width:50%;float:left">
                <ul class="dropdown-menu" role="menu">
                    <li><a href="#">Test</a></li>
                    <li><a href="#">Test2</a></li>
                </ul>
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">List Results</a>
            </li>
            <li class="dropdown">
                <ul class="dropdown-menu" role="menu">
                    <li><a href="#">Test</a></li>
                    <li><a href="#">Test2</a></li>
                </ul>
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Filters</a>
            </li>
        </ul>
    </div>    
</div>

@*<div id="mobile-footer" class="navbar navbar-default navbar-fixed-bottom">
            <div class="navbar-header">
            </div>
            <div>
                <ul class="nav navbar-nav navbar-left">
                    <li class="dropdown" style="width:50%;float:left">
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="#">Test</a></li>
                            <li><a href="#">Test2</a></li>
                        </ul>
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">List</a>
                    </li>
                    <li class="dropdown" style="display:none">
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="#">Test</a></li>
                            <li><a href="#">Test2</a></li>
                        </ul>
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Filters</a>
                    </li>
                </ul>
            </div>
        </div>*@

    <script id="gamesTemplate" type="text/html">
        {{#games}}
        <div class="col-md-6">
            <div>
                {{Name}}
            </div>
            <div>
                {{Sport}}
            </div>
            <div>
                {{GameDate}}
            </div>
            <div>
                {{GameTime}}
            </div>
            <div class="location" data-lat={{LocationLat}} data-lng={{LocationLng}}>
                {{Location}}
            </div>
            <div>
                {{PlayerCount}}
                <span>players joined</span>
            </div>
            <div>
                {{DistanceToCenterLocation}}
            </div>
            <div>
                {{Duration}}
            </div>
            <div>
                {{Status}}
            </div>
            <div>
                {{AgeGroup}}
            </div>
            <div>
                {{Notes}}
            </div>
            <div>
                {{Views}}
            </div>
            <button onclick="javascript:joinGame('{{Id}}');">Join</button>
            <button onclick="javascript:watchGame('{{Id}}');">Watch</button>
            <button>Edit</button>
            <button onclick="javascript:deleteGame('{{Id}}');">Delete</button>
        </div>
        {{/games}}
    </script>
